/* Estilos CSS */
body {
  font-family: "Press Start 2P", cursive;
  background-color: black;
  color: #00ff00;
  text-align: center;
  margin: 0;
  padding: 0;
                           
}                              

header {
  padding: 20px;
  background: linear-gradient(90deg, #000080, #001f3f);
  color: #ffff00;
  text-shadow: 2px 2px #00ffff;
  box-shadow: 0 0 10px #00ffff;
  border-bottom: 4px solid #00ffff;
  /*fondo GIF */
  background-image: url('./imágenes/fondonombre.jpg');
  background-size: cover;
  background-position: center;

}

.aviso-cookies {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.aviso-contenido {
  background: rgb(80, 6, 6);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.aviso-contenido p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.aviso-contenido button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.aviso-contenido button:hover {
  background-color: #0056b3;
}

#laberinto {
  zoom: 0.62;
  display: grid;
  grid-template-columns: repeat(16, 40px); /* 10 columnas */
  gap: 4px; /* Espacio entre celdas */
  justify-content: center;
  margin: 100px auto;
  
  border: 4px double #00ffff;
  padding: 10px;
  background-color: #001010;
  box-shadow: 0 0 15px #00ffff;
  max-width: fit-content;
}

.celda {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  border: 2px solid black;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  box-shadow: inset 0 0 10px #010133;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
/*
futuro valor para celdas y muros, lo dejo como comentado para ahora diferenciarlos
.celda {
  width: 40px;
  height: 40px;
  background-color: black;
  border: 2px solid black;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  box-shadow: inset 0 0 10px #010133;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
*/
.muro {
  width: 40px;
  height: 40px;
  background-color: black;
  border: 2px solid black;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  box-shadow: inset 0 0 10px #010133;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.celda.vision{
  opacity: 1;
  animation: brillo 5s infinite;
  box-shadow: 0 0 8px #ff4500, 0 0 12px #ff0000 inset;
}

@keyframes brillo {
  0% { background-color: #d6c800; }
  50% { background-color: #eef76f; }
  100% { background-color: #d6c800; }
}

.celda.vision2{
  opacity: 1;
  animation: brilloLejano 5s infinite;
  box-shadow: 0 0 8px #ff4500, 0 0 12px #ff0000 inset;
}

@keyframes brilloLejano {
  0% { background-color: #8f8501; }
  50% { background-color: #dbe465; }
  100% { background-color: #8f8501; }
}

.celda.peligro {
  background-color: #ff4500;
  opacity: 0.9;
  animation: interferencia 0.5s infinite;
  box-shadow: 0 0 8px #ff4500, 0 0 12px #ff0000 inset;
}

@keyframes interferencia {
  0% { background-color: #ff4500; }
  50% { background-color: #550000; }
  100% { background-color: #ff4500; }
}

.celda.salida {
  background-color: #1eff00;
  opacity: 1;
}

.celda.powerup {
  background-color: #00c3ff;
  opacity: 1;
}

#mensaje {
  font-size: 18px;
  color: red;
  text-align: center;
  animation: parpadeo 1s infinite;
  margin-top: 20px;
  text-shadow: 0 0 5px red;
}

@keyframes parpadeo {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
/* asesino */
.asesino {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}
.jugador {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}
footer {
  padding: 10px;
  background: linear-gradient(90deg, #000080, #001f3f);
  color: #ffff00;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-shadow: 1px 1px #ff00ff;
  box-shadow: 0 -2px 8px #00ffff;
  border-top: 4px solid #00ffff;

  /*fondo GIF */
  background-image: url('./imágenes/fondonombre.jpg');
  background-size: cover;
  background-position: center;
}

.puntuacionesr {
  margin-bottom: 250px;
   padding: 10px 10px;
   font-family: 'Press Start 2P', cursive;
   font-size: 0,5rem;
   background-color: #212121; /* Fondo oscuro */
   color: #ffffff;
   border: 2px solid #424242;
   border-radius: 8px;
   cursor: pointer;
   text-shadow: 1px 1px #000;
   box-shadow:
     0 0 5px #424242,
     0 0 10px #616161 inset;
   transition: all 0.3s ease;
 }
 
 .puntuacionesr:hover {
   background-color: #424242;
   border-color: #616161;
   transform: scale(1.05);
 }
 
 .puntuacionesr:active {
   transform: scale(0.98);
 }
 
 
 
 .mejorjugador {
   margin-top: 35px;
   font-family: 'Press Start 2P', cursive;
   font-size: 1.5rem;
   font-weight: 400;
   color: #3bd8ff;
   text-shadow:
     0 0 5px #3be8ff,
     0 0 10px #3bffef,
     0 0 20px #3be8ff79,
     0 0 40px #26d4ff;
   background: linear-gradient(90deg, rgba(0,0,0,0.8), rgba(30,30,30,0.9));
   padding: 15px 25px;
   border: 2px solid #3bffef;
   border-radius: 12px;
   display: inline-block;
   animation: parpadeoBrillante 3s infinite;
   box-shadow:
     0 0 10px #3bffff,
     0 0 20px #3be8ff,
     inset 0 0 10px #3bffef;
 }
 
 @keyframes parpadeoBrillante {
   0%, 80% {
     filter: brightness(1);
     transform: scale(1);
   }
   40% {
     filter: brightness(1.2);
     transform: scale(1.03);
   }
 }
 